:root {
  --background: #f2f2f2;
}

#menu {
  width: 440px;
  height: 50px;
  padding: 40px;
  margin-bottom: 40px;
  box-shadow: inset rgb(200, 200, 200) 5px 5px 15px,
    inset rgb(255, 255, 255) -5px -5px 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 440px;
  height: 440px;
  padding: 40px;
  justify-content: center;
  align-items: center;
  box-shadow: inset rgb(200, 200, 200) 5px 5px 15px,
    inset rgb(255, 255, 255) -5px -5px 15px;
  border-radius: 20px;
}

#board > div {
  display: inline-block;
  width: 90px;
  height: 90px;
  font-size: 45px;
  line-height: 90px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  background: linear-gradient(145deg, #dadada, #ffffff);
  box-shadow: inset rgb(200, 200, 200) 5px 5px 15px,
    inset rgb(255, 255, 255) -5px -5px 15px;
  border-radius: 45px;
  margin: 10px;
}

#board > div[hidden]::before {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  background: linear-gradient(145deg, #ffffff, #dadada);
  position: absolute;
  border-radius: 45px;
  box-shadow: rgb(200, 200, 200) 5px 5px 15px, rgb(255, 255, 255) -5px -5px 15px;
}

#board > div[found] {
  opacity: 0;
}

body {
  background-color: #dadada;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

button {
  border: 0;
  outline: 0;
  border-radius: 20px;
  height: 40px;
  width: 200px;
  box-shadow: rgb(200, 200, 200) 5px 5px 15px, rgb(255, 255, 255) -5px -5px 15px;
  font-size: 30px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 2px #fff;
  color: rgb(150, 150, 150);
  transition: all 0.2s ease-in-out;
}
button:hover {
  box-shadow: rgb(200, 200, 200) 2px 2px 5px, rgb(255, 255, 255) -2px -2px 5px;
}

button:active {
  box-shadow: inset rgb(200, 200, 200) 5px 5px 15px,
    inset rgb(255, 255, 255) -5px -5px 15px;
  text-shadow: 2px 2px 2px #fff;
}

span {
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 2px #fff;
  color: rgb(150, 150, 150);
}

@media only screen and (max-width: 550px) {
  #menu {
    width: 340px;
    height: 50px;
    padding: 20px;
    margin-bottom: 20px;
  }

  #board {
    width: 340px;
    height: 340px;
    padding: 20px;
  }

  #board > div {
    width: 75px;
    height: 75px;
    font-size: 40px;
    line-height: 75px;
    margin: 5px;
  }

  #board > div[hidden]::before {
    width: 75px;
    height: 75px;
  }
  span {
    font-size: 20px;
  }
}
